<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         colors="true" bootstrap="../Util.php"
>
  <testsuites>
    <testsuite name="unit">
      <directory>.</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../Chapter2/lib</directory>
      <directory suffix=".php">../Chapter3/lib</directory>
      <directory suffix=".php">../Chapter4/lib</directory>
      <directory suffix=".php">../Chapter5/lib</directory>
      <directory suffix=".php">../Chapter6/lib</directory>
      <directory suffix=".php">../Chapter7/lib</directory>
      <directory suffix=".php">../Chapter8/lib</directory>
      <directory suffix=".php">../Chapter9/lib</directory>
      <exclude>
        <file>../Chapter1/fib1.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
